manifest {
    name        = 'trabajo_unidad2'
    description = 'Pipeline reproducible con Nextflow, PySpark y Bash'
    author      = 'Neyling Yuriko Teresa Macalopú Rimachi'
    version     = '1.0.0'
    mainScript  = 'main.nf'
}

params {
    figshare_id  = null
    reference    = 'Genoma_referencia.fasta'
    query        = 'Secuenciacion4_correctedshortReads.fasta'

    // Si es true descarga los 7 archivos.
    // Por defecto solo los 2 con los que está realizando el analisis.
    download_all = false

    partitions   = 4
    outdir       = 'Results'
}

process {
    cpus   = 2
    memory = '4 GB'
    time   = '1h'
}

profiles {
    local {
        process.executor = 'local'
    }
}
